@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Uncial+Antiqua&display=swap');
:root{
    --main-purple: rgb(100, 6, 115);
    --secondary-purple: rgb(100,6,205);
    --main-background: url("/images/woodbg.jpg");
    --highlight: rgb(244, 50, 224);
}
body{
/* background-image:radial-gradient(black, black), url('https://wallpaperaccess.com/full/2796640.jpg'); */
background: var(--main-background);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-position: center;
background-blend-mode: soft-light;
}