.modal-overlay {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal-container {
    position: fixed;
    display: flex;
    left: 28%;
    top: 10%;
    width: 42%;
    height: 75%;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    overflow: hidden;
    text-align: center;
    background-color: white;
    border: 1px solid white;
    border-radius: 40px;
}
